.app_header {
  height: auto;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: all 0.5s ease;
  z-index: 100;
  background-color: #fff;

  &::before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    top: -5px;
  }

  .container {
    max-height: inherit;
    max-width: 1430px;
    transition: all 0.5s ease;
  }
  .header_inner {
    border-radius: 0px 0px 0px 0px;
    color: #fff;
    padding: 0 0px;
    height: 100%;
  }

  &.sticky {
    background-color: #fff;
    padding-bottom: 0px;
  }

  .header_menu {
  }
}
.dropdown-menu li a{ color: #000 !important; font-size: 18px;
  background-color: transparent !important; display: flex;
  padding: 5px 0;}
.Applogo_col {
  img {
    transition: all 0.3s ease;
  }
}

.callBtn {
  path {
    fill: white;
  }

  &:hover {
    path {
      fill: white;
    }
    path {
      fill: $color-primary;
    }
  }
}

.HeaderSearch_backdrop {
  position: fixed;
  left: 0;
  z-index: 10;
  top: 188px;
  background: #000000;
  width: 100%;
  transition: all 0.5s ease;
  height: 100%;
  opacity: 0;
  display: none;
}

.header_menu {
  border-radius: 0 30px;
  ul {
    display: flex;
    padding: 0 35px;
    justify-content: space-between;
    li:not(.StartPathfinder) {
      margin: 0 25px;
      position: relative;
      padding-bottom: 5px;
      a {
        position: relative;
        font-size: 20px;
        cursor: pointer;
        display: inline-flex;
        color: #333;
        font-family: $font-semibold;
        padding-bottom: 8px;
        padding-top: 8px;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: -5.6px;
          width: 2px;
          height: 5px;
          border: none;
          border-radius: 20px;
          margin: 0 auto;
          opacity: 0;
          transition: all 0.3s ease;
        }

        &:hover,
        &.active {
          color: $color-primary;
          &::after {
            width: 26px;
            background: $color-secondary;
            left: 0;
            opacity: 1;
            right: 0;
            margin: 0 auto;
          }
        }
        &.active {
          font-family: $font-primary-bold;
        }
      }
      .MoreLiSpan svg {
        fill: #fff;
      }

      &:hover,
      &.active {
        a {
          color: $color-primary;
          &::after {
            width: 26px;
            border-radius: 10px;
            background: $color-secondary;
            left: 0;
            opacity: 1;
            right: 0;
            margin: 0 auto;
          }
        }
        .MoreLiSpan svg {
          fill: #fff;
        }
      }

      .submenu_wrap {
        width: 250px;
        top: 100%;
        display: none;
        position: absolute;
        z-index: 9;
        border: 1px solid #ccc;

        transition:
          opacity 0.2s ease-out,
          visibility 0.2s ease-out;
        background-color: #fff;

        animation: smoothAnm 0.3s ease forwards;
        border-radius: 5px;
        padding: 5px 5px;

        ul {
          display: flex;
          padding: 0 0px;
          flex-direction: column;
          li {
            border-radius: 0 !important;
            margin: 0;
            a {
              display: flex;
              height: auto;
              color: #000 !important;
              padding: 10px 15px 10px;
              border-radius: 5px !important;
              &::after {
                display: none;
              }
              &:hover,
              &.active {
                color: #fff !important;
                background-color: $color-primary;
              }
            }
          }
        }
      }
    }
  }
}

.search_open_row {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  max-width: 1014px;
  background: #fff;
  top: 0;
  height: 188px;
  padding-top: 32px;
  transform: translateY(-100%);
  transition: all 0.5s ease;

  .search_inline {
    max-width: 476px;
    margin: 0 auto;
    input {
      font-size: 18px;
    }
  }
}

.searchBar_open {
  box-shadow: 0px 3px 6px #0000001a;
  height: 188px;
  .search_open_row {
    transform: translateY(0);
  }
  .HeaderSearch_backdrop {
    display: block;
    opacity: 0.3;
  }
}

.Close_menu_overlay {
  position: fixed;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 15;
  border: none;
  display: none;
  transition: all 0.5s ease;
}
#Close_menu_CTA {
  display: none;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
  right: 10px;
  z-index: 8;
}

.list_institution_mbl,
#menu_mbl_CTA {
  display: none !important;
}

.app_header.sticky {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1019607843);
}

.app_sticky_btn {
  position: fixed;
  top: 225px;
  right: -10px;
  z-index: 10;
  box-shadow: 0 0 3px 0 #fff !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

 .Applogo_col img {
    max-width: 223px;
  }

@media (min-width: 1300px) {
  .app_header_v2 {
    .header_menu ul li {
      margin: 0 23px;
    }
  }
}

@media (min-width: 1200px) {
  .header_menu ul li:hover .submenu_wrap,
  .header_menu ul li.active .submenu_wrap {
    display: block !important;
  }
  .app_header.sticky {
    .Applogo_col {
      img {
        max-width: 135px;
        height: auto;
        transition: all 0.3s ease;
      }
    }
  }
  .app_header_v2 {
    padding-top: 18px;
    .header_menu ul {
      padding-left: 5px;
      padding-right: 5px;
    }
    .header_menu ul li {
      margin: 0 13px;
      padding-bottom: 3px;
      padding-top: 3px;

      &.StartPathfinder {
        margin-right: 0 !important;
        display: inline-flex;
        align-items: center;
        padding: 3px 0;
      }
    }

    &.sticky {
      padding-top: 0;
      padding-bottom: 0;
      .header_menu ul li a {
        padding-bottom: 14px;
        padding-top: 14px;
      }
    }
  }
}

.header_menu ul li {
  margin: 0 23px;
}

@media (max-width: 1899px) {
  .header_menu ul li {
    margin: 0 7px;
  }
  .Applogo_col {
    img {
      max-width: 200px;
    }
  }
}
@media (max-width: 1400px) {
  .header_menu ul li:not(.StartPathfinder) {
    margin: 0 15px;
  }
  .Applogo_col img {
    max-width: 175px;
  }
}

@media (max-width: 1300px) {
}

@media (min-width: 1200px) {
  .app_header {
    &.scrolled {
      height: 85px;

      &.searchBar_open {
        height: 188px;
      }
    }
  }
}

@include media($xl) {
  .app_header .container .Applogo_col img {
    max-width: 150px;
  }
}

@media (max-width: 1365px) {
  .header_menu ul li a,
  .header_menu ul li:not(.StartPathfinder) a {
    font-size: 19px;
  }
  .app_header .container .Applogo_col img {
    max-width: 130px;
  }
  .header_menu ul {
    padding: 0 10px;
  }
  .header_menu {
    border-radius: 0 20px;
  }
}

@include media($lg) {
  .Applogo_col img {
    max-width: 145px;
  }
  .header_menu ul li.StartPathfinder {
    margin: 0 10px;
  }
  .header_menu ul li .submenu_wrap {
    position: static;
  }

  .header_menu ul li {
    margin: 0 18px;
  }
  .header_menu ul li .submenu_wrap {
    width: 100%;
    li {
      padding-bottom: 1px;
    }
  }

  .MoreLiSpan {
    position: absolute;
    right: 0;
    top: 12px;
  }
  #Close_menu_CTA {
    display: block;
  }

  .header_rt .btn {
    height: 38px;
    font-size: 16px;
  }

  /*Header Start*/
  .header_menu {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 260px;
    height: 100%;
    z-index: 15;
    transition: all 0.5s ease;
    transform: translateX(-100%);
  }
  .app_header {
    height: auto;
  }
  .app_header .container {
    max-height: 90px;

    .Applogo_col {
      img {
        max-width: 95px;
      }
    }
  }
  #menu_mbl_CTA {
    display: inline-flex !important;
  }
  .header_menu_inner {
    position: absolute;
    left: 0;
    top: 0;
    background:linear-gradient(135deg, #cb7107, #c11145, #7a09c1);
    height: 100%;
    overflow: auto;
    align-items: start !important;
    width: 260px;
    display: block !important;
    transition: all 0.5s ease;
  }
  
  .app_header .header_menu ul li.SubMenuOpen {
    > a {
      color: #fe6892;
    }

    .MoreLiSpan svg {
      fill: #fe6892;
    }
  }

  .app_header .header_menu ul {
    display: block;
  }
  .app_header .header_menu ul li a {
    padding: 9px 0;
    display: flex;
  }
  .app_header .header_menu ul li a {
    color: #fff;

    &::after {
      display: none;
    }

    &.active {
      color: #fe6892;
    }
  }
  .header_menu_inner {
    padding-top: 15px;
  }
  .header_menu {
    max-width: 260px;
  }
  .MenuOpen {
    .header_menu,
    .Close_menu_overlay {
      display: block !important;
    }
    .header_menu {
      transform: translateX(0);
    }
  }

  .app_header .search_open_row {
    height: 164px;
    z-index: 6;
    padding-top: 22px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .app_header .HeaderSearch_backdrop {
    top: 164px;
  }
  .app_header .search_open_row .search_inline input {
    font-size: 16px;
  }
  #Close_menu_CTA {
    display: block;
  }

  .callBtn {
    svg {
      max-width: 44px;
      height: auto;
    }
  }

  /*Header End*/

  .app_header.sticky {
    padding-bottom: 0;

    .searchWrap {
      background-color: #fff;
      border-bottom: 1px solid #eee !important;
    }
  }

  .searchWrap {
    position: fixed;
    top: 70px;
    left: 0px;
    margin: 0 !important;
    width: auto;
    max-width: inherit;
    right: 0px;
    padding: 0 30px 15px;
  }

  .app_header .searchWrap {
    max-width: 100% !important;
  }
}

@include media($mobile-landscape) {
  .list_institution_mbl {
    display: block !important;
    margin: 10px 0 0 15px;
  }
  #app_Mainheader .Applogo_col + div .search_inline {
    position: absolute;
    left: 20px;
    background: #fff;
    bottom: 12px;
    width: calc(100% - 40px);
  }
  .app_header .container .Applogo_col img {
    max-width: 80px;
  }

  .app_header {
    height: 55px;
  }
  .app_header .container {
    max-height: 65px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .page-wrapper-v2 {
    padding-top: 115px;
  }
  .page-wrapper-v2 .btn.user_dropdown,
  #menu_mbl_CTA {
    height: 30px;
    svg {
      max-width: 14px;
    }
  }

  .page-wrapper-v2 .btn.user_dropdown img {
    max-width: 21px;
  }
  .page-wrapper-v2 .dropdown-menu {
    max-width: 110px;
    min-width: inherit;
    width: 110px;
    border-radius: 10px;
    padding: 10px 15px 10px !important;
  }
  .page-wrapper-v2 .dropdown-menu a {
    font-size: 18px;
    padding: 5px 0;
  }
  .tab_wrap .tab button {
    margin: 0 6px;
  }
  .SearchClose_btn_col {
    font-size: 16px;
  }
  .app_header .search_open_row {
    height: 150px;
  }
  .app_header .HeaderSearch_backdrop {
    top: 150px;
  }
  .app_header .search_open_row {
    z-index: 20;
  }
  .app_header .search_open_row .search_inline {
    overflow: inherit;
  }
  .list_institution_desktop {
    display: none;
  }

  .app_header {
    .btn {
      height: 34px !important;
      line-height: 30px;
      font-size: 14px;
      padding: 0 10px;
    }
  }
  .app_header .header_inner {
    padding: 0 0px;
  }
  .Applogo_col img {
    max-width: 116px;
    height: auto;
  }
  .app_header .header_inner .btn#menu_mbl_CTA {
    padding: 1px 10px 0 !important;
    margin-right: 0px;
  }
  .searchWrap {
    top: 55px;
    padding: 0 15px 10px;

    .form-control {
      font-size: 14px !important;
      height: 36px;
      padding-right: 40px;
    }
  }
  .header_menu ul li.StartPathfinder a {
    height: 40px;
    font-size: 16px;
  }
}
