



@font-face {
    font-family: 'proxima_novasemibold';
    src: url('proxima_nova_semibold-webfont.woff2') format('woff2'),
         url('proxima_nova_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




/* @font-face {
    font-family: 'proxima_novathin';
    src: url('proxima_nova_thin-webfont.woff2') format('woff2'),
         url('proxima_nova_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */




@font-face {
    font-family: 'proxima_novaregular';
    src: url('proximanova-regular-webfont.woff2') format('woff2'),
         url('proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novaextrabold';
    src: url('proxima_nova_extrabold-webfont.woff2') format('woff2'),
         url('proxima_nova_extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novablack';
    src: url('proxima_nova_black-webfont.woff2') format('woff2'),
         url('proxima_nova_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novabold';
    src: url('proxima_nova_bold-webfont.woff2') format('woff2'),
         url('proxima_nova_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novamedium';
    src: url('proximanova-medium-webfont.woff2') format('woff2'),
         url('proximanova-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_novaregular_italic';
    src: url('proximanova-regit-webfont.woff2') format('woff2'),
         url('proximanova-regit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novalight';
    src: url('proxima_nova_light-webfont.woff2') format('woff2'),
         url('proxima_nova_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novamedium';
    src: url('proxima_nova_medium_regular-webfont.woff2') format('woff2'),
         url('proxima_nova_medium_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Proxima Nova Condensed Extrabold';
    src: url('Proxima Nova Condensed Extrabold.woff2') format('woff2'),
         url('Proxima Nova Condensed Extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Proxima Nova Condensed Bold';
    src: url('Proxima Nova Condensed Bold.woff2') format('woff2'),
         url('Proxima Nova Condensed Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Condensed Semibold';
    src: url('Proxima Nova Condensed Semibold.woff2') format('woff2'),
         url('Proxima Nova Condensed Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Condensed Regular';
    src: url('Proxima Nova Condensed Regular.woff2') format('woff2'),
         url('Proxima Nova Condensed Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tahu!';
    src: url('Tahu.woff2') format('woff2'),
        url('Tahu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ProximaNova-RegularIt.woff2') format('woff2'),
        url('ProximaNova-RegularIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

